.container {
  display: flex;
}
/* 1. exercice-flex */

/* 2. exercice-flex-2 */
.exercice-flex-2 .container {
  align-items: center;
}

/*3. exercice-align-content-1 */
.exercice-align-content-1 .container {
  flex-wrap: wrap-reverse;
  align-content: center;
}

/*4. exercice-align-content-2 */

/*5. exercice-align-content-3 */

/*6. exercice-flex-grow-1 */

/*7. exercice-flex-grow-2 */

/*8. exercice-flex-grow-3 */

/*9. exercice-all-in */
