/* 1. exercice-flex */
.exercice-flex .container {
  display: flex;
}

/* 2. exercice-flex-2 */
.exercice-flex-2 .container {
  display: flex;
  align-items: center;
}

/*3. exercice-align-content-1 */

/*4. exercice-align-content-2 */

/*5. exercice-align-content-3 */

/*6. exercice-flex-grow-1 */

/*7. exercice-flex-grow-2 */

/*8. exercice-flex-grow-3 */

/*9. exercice-all-in */
