.container {
  display: flex;
}
/* 1. exercice-flex */

/* 2. exercice-flex-2 */
.exercice-flex-2 .container {
  align-items: center;
}

/*3. exercice-align-content-1 */
.exercice-align-content-1 .container {
  flex-wrap: wrap-reverse;
  align-content: center;
}

/*4. exercice-align-content-2 */
.exercice-align-content-2 .container {
  flex-wrap: wrap;
  justify-content: center;
}

/*5. exercice-align-content-3 */
.exercice-align-content-3 .container {
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
}

/*6. exercice-flex-grow-1 */
.exercice-flex-grow-1 .element-red {
  flex-grow: 1;
}

/*7. exercice-flex-grow-2 */
.exercice-flex-grow-2 .container {
  flex-direction: column;
}

.exercice-flex-grow-2 .element-green {
  flex-grow: 1;
}

/*8. exercice-flex-grow-3 */
.exercice-flex-grow-3 .element {
  flex-grow: 1;
}

/*9. exercice-all-in */
.exercice-all-in .container {
  flex-wrap: wrap-reverse;
  align-content: center;
}

.exercice-all-in .element {
  flex-grow: 1;
}